Repository CartoDB/carto-vl, pull requests merged in 2018-03, with the labels that each got.

#131 Add JsDoc
  config/jsdoc/public-conf.json
  docs/README.md
  src/api/layer.js
  src/api/style.js
  src/core/style/expressions/belongs.js
  src/core/style/expressions/between.js
  src/core/style/expressions/binary.js
  src/core/style/expressions/blend.js
  src/core/style/expressions/category.js
  src/core/style/expressions/expression.js
  src/core/style/expressions/float.js
  src/core/style/expressions/opacity.js
  src/core/style/expressions/property.js
  src/core/style/expressions/rgba.js
  src/core/style/expressions/unary.js
  src/core/style/functions.js
  src/index.js
  yarn.lock
Labels: api-setup, documentation

#145 GeoJSON doc + utests
  docs/README.md
  src/api/error-handling/error-list.js
  src/api/source/geojson.js
  test/unit/api/source/geojson.test.js
  test/unit/core/.keep
Labels: api-setup

#217 Add layerid
  src/api/layer.js
  test/unit/api/layer.test.js
Labels: interactivity

#235 Fix osx bug
  src/core/renderer.js
  src/core/shaders/index.js
  src/core/shaders/renderer/point.js
Labels: bug
